*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
button {
  color: inherit;
  border: none;
  background-color: transparent;
}

button, [role="button"] {
  cursor: pointer;
}

button.submit {
  font-size: 1rem;
  background-color: white;
  color: #0077b6;
  border-radius: 0.2rem;
  padding: 5px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-weight: 600;
}
button.submit:hover {
  font-size: 1rem;
  background-color: #dcdcdc;
  color: #052962;
  border-radius: 0.2rem;
  padding: 5px;
}
img,
svg {
  display: block;
}

span.animate {
  animation: slideInAnimation ease-in 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  position: absolute;
  margin-left: 10px;
  font-size: 1rem;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  rotate: -20deg;
}

@keyframes slideInAnimation {
  0% {
    margin-top: -70px;
    rotate: 360deg;
  }

  100% {
    margin-top: 0px;
    rotate: -20deg;
  }
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: "GH Guardian Headline", "Guardian Egyptian Web", Georgia, serif;
  color: white;
}
.transition-colors {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.headline-list {
  margin-top: 10px;
}

.headline {
  background-color: #0077b6;
  margin: 20px;
  padding: 5px;
  border-radius: 0.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.headline p {
  text-align: center;
}

.headline-para {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 3px;
  font-weight: 600;
  color: white;
}

.standfirst {
  font-size: 0.875rem;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 5px;
}

.my-6 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.my-4 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-4 {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.py-8 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.bg-\[\#86efac\] {
  background-color: #86efac;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.py-6 {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-1 {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
.border-gray-500 {
  border-color: #6b7280;
}
.bg-white {
  background-color: #fff;
}
.flex {
  display: flex;
}
.gap-8 {
  grid-gap: 2rem;
  gap: 2rem;
}
.font-bold {
  font-weight: 700;
}
.max-w-screen-md {
  max-width: 850px;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.border-2 {
  border-width: 2px;
}
.hover\:bg-gray-200:hover {
  background-color: #e5e7eb;
}
.tabular-nums {
  font-variant-numeric: tabular-nums;
}
.min-h-screen {
  min-height: 100vh;
}

.fresh-gradient {
  background-color: #052962;
  background-image: linear-gradient(
    to right bottom,
    #0077b6,
    #052962,
    #0077b6
  );
}
